body {
	background-image: url(Background.jpg);
	background-position: default;
	background-size: cover;
	background-repeat: repeat;
}

ul li a {
	text-decoration: none;
	font-family: sans;
}

nav a img {
	width: 60px;
	height: 60px;
}

#greet {
	color: white;
	text-align: center;
	font-family: courier;
}

#About, #Contact {
	background-color: white;
	box-shadow: -5px -5px 5px white, 5px 5px 5px white;
	margin-top: 200px;
}

#Skills {
	background-color: white;
	box-shadow: -5px -5px 5px white, 5px 5px 5px white;
}

.skills {
	text-align: right;
	padding: default;
	color: white;
}

.html {
	width: 90%;
	background-color: #04AA6D;
}

.css {
	width: 80%;
	background-color: #04AA6D;
}

.js {
	width: 60%;
	background-color: #ccff00;
}

.bootstrap {
	width: 80%;
	background-color: #04AA6D;
}

#Contact form {
	padding: 10px;
}

#Contact form button {
	width: 80px;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
}

#Contact form input {
	font-size: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: lightblue;
	font-family: sans;
}

#Contact form textarea {
	font-size: 20px;
	border: 2px solid lightblue;
	font-family: sans;
}

#Contact form label {
	color: black;
	font-size: 18px;
}

footer {
	width: 100%;
	height: 575px;
	padding-top: 170px;
	font-size: 50px;
	margin-top: 150px;
	text-align: center;
	font-family: sans;
	background-color: cadetblue;
}

footer address, a {
	margin-left: 25px;
	margin-right: 25px;
}

footer address a, label, #PP, #CR {
	font-size: 20px;
	color: white;
}

footer address #Linkedin, #Github, #FB, #Gmail, #IG, #YouTube {
	font-size: 40px;
	color: white;
	text-decoration: none;
}