ul li a {
    text-decoration: none;
    font-family: sans;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

ul li a.active {
    font-weight: bold;
}

nav a img {
    width: 40px;
    height: auto;
    margin-left: 20px;
}

#search input {
    font-family: sans;
    border-radius: 10px;
}

#search button {
    width: 20%;
    height: auto;
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px;
}

#search button:hover {
    background: #0b7dda;
}

.card {
    box-shadow: 5px 5px 5px blue, -5px -5px 5px blue;
}

.card:hover,
.card:focus {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px aqua, -5px -5px 5px aqua;
}

#Contact form {
    padding-top: 20px;
    padding-bottom: 20px;
}

#Contact form button {
    width: 80px;
    height: 40px;
    font-size: 14px;
    font-family: 'Georgia', cambria, sans;
}

#Contact form input {
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: lightskyblue;
    font-family: sans;
}

#Contact form textarea {
    font-size: 18px;
    border: 2px solid lightskyblue;
    font-family: sans;
}

#Contact form label {
    color: black;
    font-size: 16px;
    font-family: sans;
}

footer {
    margin-top: 400px;
    width: 100%;
    height: auto;
}

footer label {
    font-size: 15px;
    color: #000;
    font-family: 'cambria', sans;
}